footer {
	background-color: #303030;
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	align-content: center;
	vertical-align: middle;
}

#copy-right, #date-time {
	margin: 0;
	padding: 5px;
	text-align: center;
}

.image-demo {
	align-content: center;
	width: 100%;
}
