<nav>
    <div class="menu-bar">
        <div class="drop-menu"><a href="#" class="redirect-item" name="home-btn">Home</a></div>
        <div class="registe-menu"><a href="#" class="redirect-item" name="login-btn">Sign In</a></div>
    </div>
</nav>
