<section id="member-section">
    <div class="member-section-top">
        <div>NAME: {{name}}</div>
        <div>ONID: {{key}}@oregonstate.edu</div>
    </div>
    <p>
        {{contribution}}
    </p>
</section>
