<footer>
    <div class="image-list" align="center">
        <div class="image-item">
            <a href="http://www.w3schools.com/"><img src="http://www.w3schools.com/images/w3cert.gif" alt=""/></a>
        </div>
        <div class="image-item">
            <a href="https://nodejs.org/en/"><img src="https://nodejs.org/static/images/interactive/nodejs-interactive-logo-center.png" alt="" width="237px", height="103.5px"/></a>
        </div>
        <div class="image-item">
            <a href="http://handlebarsjs.com/"><img src="http://handlebarsjs.com/images/handlebars_logo.png" alt="" width="171px", height="129px"/></a>
        </div>
    </div>
    <p id="copy-right">Copyright &copy;2016 Fall Term This Group. All Rights Reserved</p>
    <p id="date-time"></p>
</footer>
