<div class="main-section-container">
    <div class="section-title">{{name}}</div>
    <div class="">
        {{#each name}}
            <section class="main-content-section">

            </section>
        {{/each}}
    </div>
</div>
