<div id="modal-backdrop" class="hidden"></div>
<div id="add-category-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Add a New Category</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="todo-input-element required">
                <label for="todo-input-category">Database</label>
                <input type="text" id="todo-input-category">
            </div>
            <div class="todo-input-element required">
                <label for="todo-input-url">Direcoty</label>
                <input type="text" id="todo-input-url">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Add Category</button>
        </div>
    </div>
</div>
