<nav>
    <div class="menu-bar">
        <div class="drop-menu">
            <a href="#">Menu</a>
            <div class="drop-menu-item">
                <a href="index.html">Home</a>
                <a href="#" onclick="openModal();">Add New Category</a>
                <a href="about.html">About</a>
            </div>
        </div>
        <div class="registe-menu">
            <a href="#">Sign In</a>
        </div>
    </div>
    <div class="search-bar"><input type="text" name="" placeholder="Search..."></div>
</nav>
