<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/header.css" media="screen">
	<link rel="stylesheet" href="css/nav.css" media="screen">
	<link rel="stylesheet" href="css/index.css" media="screen">
	<link rel="stylesheet" href="css/modal.css" media="screen">
	<link rel="stylesheet" href="css/footer.css" media="screen">
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
{{{body}}}
<script src="js/index.js" type="text/javascript"></script>
<script src="js/common.js" type="text/javascript"></script>
</html>
