{{> header}}
{{> navbar}}
<main id="about-main-container">
    <section id="member-section">
        <div class="member-section-top">
            <div>NAME: UNDEFINED</div>
            <div>ONID: UNDEFINED</div>
        </div>
        <p>
            CONTRIBUTIONS UNDEFIEND
        </p>
    </section>
    <section id="member-section">
        <div class="member-section-top">
            <div>NAME: UNDEFINED</div>
            <div>ONID: UNDEFINED</div>
        </div>
        <p>
            CONTRIBUTIONS UNDEFIEND
        </p>
    </section>
    <section id="member-section">
        <div class="member-section-top">
            <div>NAME: UNDEFINED</div>
            <div>ONID: UNDEFINED</div>
        </div>
        <p>
            CONTRIBUTIONS UNDEFIEND
        </p>
    </section>
</main>
{{> footer}}
