{{> header}}
{{> index-nav}}
<main>
    {{#each categories}}
        <div class="exhibition-container">
            <div class="category-title">{{name}}</div>
            <div class="">{{#each table}}{{> exhibition}}{{/each}}</div>
        </div>
    {{/each}}
</main>
{{> footer}}
{{!-- {{> modal}} --}}
