{{> header}}
<main>
    <div class="login-form">
        <table>
            <tr>
                <td><label for="">Username </label></td>
                <td><input id="login-input-username" type="text" placeholder="Enter Username Here"></td>
            </tr>
            <tr>
                <td><label for="">Password </label></td>
                <td><input id="login-input-password" type="password" placeholder="Enter Password Here"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="login-form-footer">
                        <button type="button" class="login-form-login">Login</button>
                        <button type="button" class="login-form-cancel">Cancel</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>
{{> footer}}
