{{> header}}
{{> index-nav}}
<main>

</main>
{{> footer}}
<div class="add-note-button-container">
    <button id="update-note-button">&uarr;</button>
    <button id="add-note-button">+</button>
    <button id="remove-note-button">-</button>
</div>
{{> modal}}
