body {
	background-color: ghostwhite;
	margin: 0;
	width: 100%;
}

#main-container {
	background-color: #7cd5d9;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#member-section {
    border: 5px solid #303030;
    border-radius: 5px;
    margin: 5px;
}

.member-section-top {
    display: inline-flex;
    width: 100%;
}

.member-section-top div {
    background-color: #303030;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
    padding: 5px;
    width: 50%;
}

#member-section p {
	background-color: ghostwhite;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
    height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    word-break: break-all;
    white-space: normal;
    overflow-y: auto;
}
