body {
	background-color: ghostwhite;
	margin: 0;
}

#index-main-container {
	display: inline-block;
	width: 100%;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

.main-section-container {
	background-color: #7cd5d9;
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.main-content-section {
	background-color: transparent;
	border: transparent solid 5px;
	border-radius: 5px;
	margin: 5px;
	width: 360px;
	height: 240px;
}

.section-title {
	color: ghostwhite;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	text-align: justify;
}
