body {
	margin: 0;
}

main {
	background-color: #4D2C3D;
	display: inline-block;
  	flex-wrap: wrap;
	width: 100%;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;

	margin: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

.exhibition-container {
	display: inline-block;
	width: 100%;
}

.exhibition-section {
	border-radius: 5px;
	position: relative;
	min-height: 254px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 24px;
	font-weight: 200;
	word-wrap: break-word;
}

.exhibition-section p {
	color: ghostwhite;
	font-family: 'Cambo', Geneva, sans-serif;
	font-size: 14px;
	text-align: left;
	width: 100%;
}

.item-body {
	padding: 0 20px
}

img {
	padding-top: 5px;
	position: relative;
	width: 100%;
	height: auto;
}

img:hover {
	padding-top: 5px;
	position: relative;
	width: 100%;
	height: auto;
	opacity: 0.6;
    -webkit-filter:grayscale(75%);
    filter:grayscale(75%)
}


.category-title {
	color: ghostwhite;
	background-color: #CDA34F;
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	height: auto;
	text-align: center;
}

#member-section {
    border: 5px solid #303030;
    border-radius: 5px;
    margin: 5px;
}

.member-section-top {
    display: inline-flex;
    width: 100%;
}

.member-section-top div {
    background-color: #303030;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
    padding: 5px;
    width: 50%;
}

#member-section p {
	background-color: ghostwhite;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    word-break: break-all;
    white-space: normal;
	overflow-y: auto;
}
