body {
	margin: 0;
}

main {
	background-color: #7cd5d9;
	display: inline-block;
	width: 100%;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

.exhibition-container {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.exhibition-section {
	background-color: #303030;
	border: ghostwhite solid 5px;
	border-radius: 5px;
	display: inline-flex;
	margin: 5px;
	width: 720px;
	height: 240px;
}

.exhibition-section p {
	color: ghostwhite;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	max-width: 293.34px;
	margin: 0;
	padding: 5px;
	text-align: justify;
}

.category-title {
	color: ghostwhite;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	text-align: justify;
}

#member-section {
    border: 5px solid #303030;
    border-radius: 5px;
    margin: 5px;
}

.member-section-top {
    display: inline-flex;
    width: 100%;
}

.member-section-top div {
    background-color: #303030;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
    padding: 5px;
    width: 50%;
}

#member-section p {
	background-color: ghostwhite;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    word-break: break-all;
    white-space: normal;
	overflow-y: auto;
}
