body {
	margin: 0;
}

main {
	background-color: #1F1926;
	display: inline-block;
  	flex-wrap: wrap;
	width: 100%;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	margin: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}

.exhibition-container {
	display: inline-block;
	width: 100%;
}

.item-body {	z-index: 1;
	background-color: #555555;
	position: relative;
	min-height: 254px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 24px;
	font-weight: 200;
	word-wrap: break-word;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.exhibition-section p {
	color: ghostwhite;
	font-family: 'Cambo', Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
}

img {
	position: relative;
	border-radius: 5px; 
	width: 90%;
	position: relative;
	align-items: center;
	left: 20px;
}

.exhibition-section .dismiss-button {
	color: ghostwhite;
	position: relative;
	font-family: sans-serif;
	float: right;
	right: 5px;
	font-size: 30px;
	cursor: pointer;
	display: hidden;
	opacity: 0.3;
}

.dismiss-button:hover {
  	opacity: 1.0;
} 
 
.category-title {
	color: ghostwhite;
	background-color: #AB9353;
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
	height: auto;
	text-align: center;
}

#member-section {
    border: 5px solid #303030;
    border-radius: 5px;
    margin: 5px;
}

.member-section-top {
    display: inline-flex;
    width: 100%;
}

.member-section-top div {
    background-color: #303030;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
    padding: 5px;
    width: 50%;
}

#member-section p {
	background-color: ghostwhite;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    word-break: break-all;
    white-space: normal;
	overflow-y: auto;
}