/*undefined*/
input[type=button] {
	background-color: crimson;
	background-image: url('../img/home_icon.png');
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
	border: 2px solid whitesmoke;
	border-radius: 5px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;float: right;
	float: left;
	width: 46px;
	height: 46px;
	margin: 5px;
	vertical-align: middle;
}

#side-bar {
	/*background-color: goldenrod;*/
	min-width: 200px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.side-bar-section {
	border: crimson solid 5px;
	border-radius: 5px;
}

.side-bar-section h2 {
	background-color: crimson;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	position: initial;
	height: 30px;
	margin: 0;
	text-align: center;
}

.side-bar-section div {
	background-color: white;
	position: relative;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: justify;
}

.radio-div {
	background-color: black;
	margin: 0;
}

.radio-div label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: dimgray;
}


#copy-right, #date-time {
	margin: 0;
	text-align: center;
}
